<div class="new_todo">
<h1><b>New Todo Lists</b></h1>


<%= form_for(@todo_list) do |f| %>

<div class="">
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</div>
 <br> 
<div class="" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
  <%= f.label :description %><br>
  <%= f.text_area :description %>
</div>
<br>
<div class="" >
  <%= f.submit %>
</div> </div>
  <% end %>
