<h1 class="title"><b>New Address</b></h1>
<%= form_for(@address) do |f| %>

<div class="field">
<div class="abc"><br>
    <%= f.label :address_line1 %><br>
    <%= f.text_field :address_line1 %>
</div>

<div class="abc"><br>
    <%= f.label :address_line2 %><br>
    <%= f.text_field :address_line2 %>
</div>

<div class="abc"><br>
    <%= f.label :city %><br>
    <%= f.text_field :city %>
</div>

<div class="abc"><br>
    <%= f.label :country %><br>
    <%= f.text_field :country %>
</div>

<div class="abc"><br>
    <%= f.label :pincode %><br>
    <%= f.text_field :pincode %>
</div>
<br><br>
<div class="abc">
    <%= f.submit %>
</div></div>
<%end%>